
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: "Poppins", sans-serif;
background-color: rgb(238,235,234);

}

/* NAVBAR */

nav{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2vh 6vw;
background-color: rgb(255, 255, 255);
position: fixed;
z-index: 1000;
}

nav a{
    text-decoration: none;
}

nav .logo .logo1st{
font-size: 24px;
font-weight: bold;
color: black;
}

nav .logo .logo2nd{
font-size: 24px;
font-weight: bold;
color: orangered;

}

.hambtn{
display: none;
}

nav ul{
display: flex;
gap: 2vw;
align-items: center;

}

nav ul li{
list-style: none;
}

nav ul li a{
font-size: 16px;
text-decoration: none;
position: relative;
color: rgb(0, 0, 0);

}

nav ul li a::before{
content: '';
position: absolute;
bottom: -5px;
left: 0;
width: 0%;
height: 2px;
background-color: rgb(255, 69, 0);
transition: all .5s;
}

nav ul li a:hover::before{
width: 100%;
}

nav ul .loginbtn{
text-decoration: none;
font-size: 16px;
color: black;
padding: 4px 21px;
border: 1px solid black;
border-radius: 35px;
}

nav ul .loginbtn:hover{
background-color: black;
color: white;
}


.main{
padding-top: 7vh;
height: 100vh;
display: flex;
flex-direction: row;
}



    /* Sidebar */
    .sidebar {
        width: 20vw;
        background-color: orangered;
        color: white;
        padding: 5vh 2vw;
    }

    .sidebar h2 {
        margin-bottom: 3vh;
        font-size: 36px;
    }

    .sidebar a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 24px;
        margin: 2vh 0;
        padding: 1.25vh 1.25vw;
        border-radius: 5px;
    }

    .sidebar a:hover {
        background-color: black;
    }



    /* Main content */
    .main-content {
        flex: 1;
        padding: 5vh 2vw;
        background-color: #f4f4f4;
    }

    .dashboard-header h2{
        margin-bottom: 5vh;
        font-size: 36px;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .card {
        min-width: 150px;
        height: 20vh;
        padding: 20px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card h3 {
        margin-bottom: 2vh;
        font-size: 30px;
        color: #333;
    }

    .card p {
        font-size: 24px;
        color: #666;
    }

