
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f1f1f1;
}

    /* NAVBAR */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
}

nav .logo .logo1st{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav .logo .logo2nd{
    font-size: 24px;
    font-weight: bold;
    color: orangered;

}

.hambtn{
    display: none;
}

nav ul{
    display: flex;
    gap: 2vw;
    align-items: center;

}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 16px;
    text-decoration: none;
    position: relative;
    color: rgb(0, 0, 0);

}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 69, 0);
    transition: all .5s;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul .loginbtn{
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 4px 21px;
    border: 1px solid black;
    border-radius: 35px;
}

nav ul .loginbtn:hover{
    background-color: black;
    color: white;
}




.upper{
    width: 100%;
    height: 70vh;
    background-color: rgb(238,235,234);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;

}

.col1{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 img{
    margin-top: 12vh;
}

.col2{
    width: 45vw;
    padding: 10vh 4vw 10vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5vh;
}

.upper .col2 h1{
    font-size: 56px;
}

.upper .col2 p{
    font-size: 24px;
    text-align: justify;
}


.down{
    width: 100%;
    height: 155vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.form{
    width: 90%;
    padding: 10vh 3vw 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(121, 121, 121);
    top: 70vh;
}

form{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
}

.formheading{
    margin: 5vh 0vw;
    font-size: 56px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6vw;
    width: 100%;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}

.form label{
    text-align: start;
    width: 10vw;
    display: inline-block;
    font-size: 21px;
    margin-right: 2vw;
}

.form h2{
    font-size: 32px;
    color: orangered;
}

.form input{
    width: 20vw;
    display: inline-block;
    padding: 1.5vh 2vw;
    border: none;
    background-color: rgb(235, 235, 235);
}
.form select, textarea{
    width: 20vw;
    padding: 1.5vh 2vw;
    border: none;
    background-color: rgb(235, 235, 235);

}



.submit{
    text-decoration: none;
    font-size: 16px;
    margin: 2vh 0vh 2vh auto;
    padding: 1.3vh 2.3vw;
    border-radius: 10px;
    color:  white;
    background-color: rgb(0, 0, 0);
    border: none;
    box-shadow: 1px 1px 2px rgb(102, 102, 102);
}

.submit:hover{
    color: white;
    background-color: orangered;
    box-shadow: none;
}




/* Footer SECTION */


footer{
    height: 35vh;
    background-color: black;
    padding: 7vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

footer .logo{
    font-size: 30px;
    color: rgb(252, 252, 252);
}

footer .logo .logo2nd{
    color: orangered;
}

footer h2{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: orangered;
}

footer .address p{
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

footer .navlinks ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .navlinks ul li{
    list-style: none;
    text-decoration: none;
}
footer .navlinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .navlinks ul li a:hover{
    text-decoration: none;
    color: orangered;
}


footer .sociallinks ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .sociallinks ul li{
    list-style: none;
    text-decoration: none;
}
footer .sociallinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .sociallinks ul li a:hover{
    text-decoration: none;
    color: orangered;
}

.cr p{
    height: 5vh;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    word-spacing: 2px;
}




/* Tablet */


@media screen and (max-width: 1024px) {

    /* NAVBAR */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
}

nav .logo .logo1st{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav .logo .logo2nd{
    font-size: 24px;
    font-weight: bold;
    color: orangered;

}


.hambtn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hambtn span {
  height: 3px;
  background-color: #333;
  border-radius: 3px;
}


nav ul{
    display: flex;
    gap: 2vw;
    align-items: center;

}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: none;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    color: rgb(0, 0, 0);

}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 69, 0);
    transition: all .5s;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul .loginbtn{
    display: none;
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 4px 21px;
    border: 1px solid black;
    border-radius: 35px;
}

nav ul .loginbtn:hover{
    background-color: black;
    color: white;
}


.upper{
    width: 100%;
    height: 45vh;
    background-color: rgb(238,235,234);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;

}

.col1{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 img{
    margin-top: 12vh;
    width: 500px;
}

.col2{
    width: 45vw;
    padding: 10vh 4vw 10vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5vh;
}

.upper .col2 h1{
    font-size: 48px;
}

.upper .col2 p{
    font-size: 18px;
    text-align: justify;
}


.down{
    width: 100%;
    height: 160vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.form{
    width: 90%;
    padding: 10vh 3vw 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(121, 121, 121);
    top: 70vh;
}

form{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
}

.formheading{
    margin: 0vh;
    font-size: 56px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vw;
    width: 100%;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
}

.form label{
    text-align: start;
    width: 20vw;
    display: inline-block;
    font-size: 21px;
    margin-right: 2vw;
}

.form h2{
    font-size: 32px;
    color: orangered;
}

.form input{
    width: 30vw;
    display: inline-block;
    padding: 1.5vh 2vw;
    border: none;
    background-color: rgb(235, 235, 235);
}
.form select, textarea{
    width: 30vw;
    padding: 1.5vh 2vw;
    border: none;
    background-color: rgb(235, 235, 235);

}



.submit{
    text-decoration: none;
    font-size: 16px;
    margin: 2vh 0vh 2vh auto;
    padding: 1.25vh 5vw;
    border-radius: 10px;
    color:  white;
    background-color: rgb(0, 0, 0);
    border: none;
    box-shadow: 1px 1px 2px rgb(102, 102, 102);
}

.submit:hover{
    color: white;
    background-color: orangered;
    box-shadow: none;
}


/* Footer SECTION */


footer{
    height: 60vh;
    background-color: black;
    padding: 7vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 3vh 3vw;
}

footer .logo, 
footer .address{
    flex: 1 1 45%;
}

footer .navigation, 
footer .socialmedia{
    flex: 1 1 45%;
}

footer .logo{
    font-size: 30px;
    color: rgb(252, 252, 252);
}

footer .logo .logo2nd{
    color: orangered;
}

footer h2{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: orangered;
}

footer .address p{
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

footer .navlinks ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .navlinks ul li{
    list-style: none;
    text-decoration: none;
}
footer .navlinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .navlinks ul li a:hover{
    text-decoration: none;
    color: orangered;
}


footer .sociallinks ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .sociallinks ul li{
    list-style: none;
    text-decoration: none;
}
footer .sociallinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .sociallinks ul li a:hover{
    text-decoration: none;
    color: orangered;
}

.cr p{
    height: 5vh;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    word-spacing: 2px;
}

}
    /* Mobile */


@media screen and (max-width: 600px){


    /* NAVBAR */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
}

nav .logo .logo1st{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

nav .logo .logo2nd{
    font-size: 16px;
    font-weight: bold;
    color: orangered;

}


.hambtn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hambtn span {
  height: 3px;
  background-color: #333;
  border-radius: 3px;
}


nav ul{
    display: flex;
    gap: 2vw;
    align-items: center;

}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: none;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    color: rgb(0, 0, 0);

}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 69, 0);
    transition: all .5s;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul .loginbtn{
    display: none;
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 4px 21px;
    border: 1px solid black;
    border-radius: 35px;
}

nav ul .loginbtn:hover{
    background-color: black;
    color: white;
}



    /* NAVBAR */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 6vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1000;
}

nav .logo .logo1st{
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav .logo .logo2nd{
    font-size: 24px;
    font-weight: bold;
    color: orangered;

}


.hambtn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hambtn span {
  height: 3px;
  background-color: #333;
  border-radius: 3px;
}


nav ul{
    display: flex;
    gap: 2vw;
    align-items: center;

}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: none;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    color: rgb(0, 0, 0);

}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 69, 0);
    transition: all .5s;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul .loginbtn{
    display: none;
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 4px 21px;
    border: 1px solid black;
    border-radius: 35px;
}

nav ul .loginbtn:hover{
    background-color: black;
    color: white;
}


.upper{
    width: 100%;
    height: 45vh;
    background-color: rgb(238,235,234);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.col1{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 img{
    margin-top: 20vh;
    width: 450px;
}

.col2{
    display: none;
}

.upper .col2 h1{
    font-size: 48px;
}

.upper .col2 p{
    font-size: 18px;
    text-align: justify;
}


.down{
    width: 100%;
    height: 240vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.form{
    width: 90%;
    padding: 10vh 3vw 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(121, 121, 121);
    top: 70vh;
}

.down .form .i{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

form{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
}

.formheading{
    margin-top: 5vh;
    font-size: 30px;
}

.form .section h2{
    font-size: 24px;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vw;
    width: 100%;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
}

.form label{
    text-align: start;
    width: 50vw;
    display: inline-block;
    font-size: 21px;
    margin-right: 2vw;
}

.form h2{
    font-size: 32px;
    color: orangered;
}

.form input{
    width: 70vw;
    display: inline-block;
    padding: 1.5vh 2vw;
    border: none;
    background-color: rgb(235, 235, 235);
}
.form select, textarea{
    width: 70vw;
    padding: 1.5vh 2vw;
    border: none;
    background-color: rgb(235, 235, 235);

}



.submit{
    text-decoration: none;
    font-size: 16px;
    margin: 2vh 0vh 2vh auto;
    padding: 1.25vh 5vw;
    border-radius: 10px;
    color:  white;
    background-color: rgb(0, 0, 0);
    border: none;
    box-shadow: 1px 1px 2px rgb(102, 102, 102);
}

.submit:hover{
    color: white;
    background-color: orangered;
    box-shadow: none;
}




/* Footer SECTION */


footer{
    height: 80vh;
    background-color: black;
    padding: 7vh 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 2vh 4vw;
}

footer .logo, 
footer .address{
    flex: 1 1 45%;
}

footer .navigation, 
footer .socialmedia{
    flex: 1 1 45%;
}

footer .logo{
    font-size: 21px;
    color: rgb(252, 252, 252);
}

footer .logo .logo2nd{
    color: orangered;
}

footer h2{
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: bold;
    color: orangered;
}

footer .address p{
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}

footer .navlinks ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .navlinks ul li{
    list-style: none;
    text-decoration: none;
}
footer .navlinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .navlinks ul li a:hover{
    text-decoration: none;
    color: orangered;
}


footer .sociallinks ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .sociallinks ul li{
    list-style: none;
    text-decoration: none;
}
footer .sociallinks ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

footer .sociallinks ul li a:hover{
    text-decoration: none;
    color: orangered;
}

.cr p{
    height:4vh;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    word-spacing: 2px;
}

}
